{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb/classes-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   <!-- Services Section Begin -->
    <section class="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-pic">
                        {% load static %}
                        <img src="{% static 'img/services/service-pic.jpg' %}" style="margin-top: 80px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-items">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-item bg-gray" style="margin-top: 80px;">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-1.png' %}"  alt="">
                                    <h4>ACCURACY</h4>
                                    <p>We want to get as little error as possible when evaluating your WODS videos, offering correct and credible results!</p>
                                </div>
                                <div class="services-item bg-gray pd-b" >
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-3.png' %}" alt="">
                                    <h4>Workout</h4>
                                    <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                        montes.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-item" style="margin-top: 80px;">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-2.png' %}" s alt="">
                                    <h4>Wods</h4>
                                    <p>We've evaluated most of the existing Wods exercises!</p>
                                </div>
                                <div class="services-item pd-b" ">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-4.png' %}"  alt="">
                                    <h4>Weight Loss</h4>
                                    <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                        montes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section End -->



    <! Contact Tp>
    <div class="container" style="margin-top: 50px">
    <h1>Team</h1>
    <hr>
    <div class="row">
        <div class="col-6">
             {% load static %}
            <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
            <h2>Daniel Matias Pinto</h2>
            <p>dmatiaspinto@ua.pt</p>
         </div>
        <div class="col-6">
            <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
            <h2>Gonçalo Freixinho</h2>
            <p>goncalofreixinho@ua.pt</p>
        </div>
    <div class="row">
        <div class="col-6">
             {% load static %}
            <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
            <h2>Francisco Jesus</h2>
            <p>dmatiaspinto@ua.pt</p>
         </div>
        <div class="col-6" >
            <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150"  alt="">
            <h2>Rodrigo Oliveira </h2>
            <p>goncalofreixinho@ua.pt</p>
        </div>
    </div>
</div>

{%  endblock %}