{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb/classes-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   <!-- Services Section Begin -->
    <!-- <section class="services-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-pic">
                        {% load static %}
                        <img src="{% static 'img/services/service-pic.jpg' %}" style="margin-top: 80px;" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-items">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="services-item bg-gray" style="margin-top: 80px;">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-1.png' %}"  alt="">
                                    <h4>ACCURACY</h4>
                                    <p>We want to get as little error as possible when evaluating your WODS videos, offering correct and credible results!</p>
                                </div>
                                <div class="services-item bg-gray pd-b" >
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-3.png' %}" alt="">
                                    <h4>Workout</h4>
                                    <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                        montes.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="services-item" style="margin-top: 80px;">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-2.png' %}" s alt="">
                                    <h4>Wods</h4>
                                    <p>We've evaluated most of the existing Wods exercises!</p>
                                </div>
                                <div class="services-item pd-b" ">
                                    {% load static %}
                                    <img src="{% static 'img/services/service-icon-4.png' %}"  alt="">
                                    <h4>Weight Loss</h4>
                                    <p>Aenean massa. Cum sociis Theme et natoque penatibus et magnis dis part urient
                                        montes.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <section class="spad">
        <div class="container" >
            <h1>Team</h1>
            <div class="row">
                <div class="col-6">
                     {% load static %}
                    <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
                    <h2>Daniel Pinto</h2>
                    <p>dmatiaspinto@ua.pt</p>
                </div>
                <div class="col-6">
                    <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
                    <h2>Gonçalo Freixinho</h2>
                    <p>goncalofreixinho@ua.pt</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                     {% load static %}
                    <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150" alt="">
                    <h2>Francisco Jesus</h2>
                    <p>franciscojesus@ua.pt</p>
                </div>
                <div class="col-6" >
                    <img class="rounded-circle" src="{%static 'img/person.png' %} " height="150"  alt="">
                    <h2>Rodrigo Oliveira </h2>
                    <p>rfo08@ua.pt</p>
                </div>
            </div>
        </div>
    </section>

    <section class="spad">
        <div class="container">
            <h1>FAQ</h1>
            <div class="acc">
                <h3>How do I prove I'm an affiliate</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>In order to prove your affiliation with Crossfit, 
                            you need to contact us and show us proof that you are an affiliate.
                            Feel free to contact us in any of our <a href="{% url 'contact' %}">contact lines</a>.
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Why do we use it?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Where does it come from?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                        <p>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
                        </p>
                    </div>
                </div>
            </div>
    
            <!-- Accordian -->
            <div class="acc">
                <h3>Where can I get some?</h3>
                <div class="content">
                    <div class="content-inner">
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </section>



{%  endblock %}