{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg=" {% static 'img/breadcrumb/classes-breadcrumb.jpg'%}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Login Section Begin -->
        <section class="login-section classes-page spad">
            <div class="container">
                <div class="classes-page-text">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="login-text">
                                <div class="section-title">
                                    <h2>Sign In</h2>
                                </div>
                                <form class="login-form" method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="login-btn">Login</button>
                                    <div>
                                        {% for message in messages %}
                                            <h3 class="badge badge-dark" style="width: 100%; font-size: large"> {{ message }}</h3>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="login-pic">
                                {% load static %}
                                <img src="{% static 'img/register-pic.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 style="visibility: hidden;">This is meant to had white space in the page end</h2>
            </div>
        </section>
    <!-- Login Section End -->

{%  endblock %}