{% extends 'base.html' %}
{% load static %}
{% block content %}



 <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb/classes-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Events</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
                            <span>Events</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!-- Breadcrumb Section End -->
	
    <div class="main-container submit_event" style="margin-left: 600px;">
		<h1>Submit your event!</h1>


		<form method="POST" enctype='multipart/form-data'> {% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value='Save' />
		</form>
	</div>


{%  endblock %}